<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books & Authors</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <span id="nav-header">Book & Authors</span>
        <span><a href="/">Home</a></span>
        <span><a href="/create/author">Add an Author</a></span>
        <span><a href="/create/book">Add a Book</a></span>
    </nav>
    <div id="content">
        {{{ body }}}
    </div>
</body>
</html>