
<h1>Create a Book</h1>

<div>
    <form action="http://localhost:5001/book" method="POST">
        <div>
            <label for="title">Book Title</label>
            <input name="title" type="text" placeholder="Book Title">
        </div>
        <div>
            <label for="authorId">Author ID</label>
            <input name="authorId" type="text" placeholder="Author ID">
        </div>
        <div>
            <label for="pages">Pages</label>
            <input name="pages" type="text" placeholder="Number of pages in the book">
        </div>
        <input type="submit" value="Create a Book">
    </form>
</div>