<h1>Create an Author</h1>

<div>
    <form action="http://localhost:5001/author" method="POST">
        
        <div>
            <label>Name</label>
            <input name="name" type="text" placeholder="Author's Name"></label>
        </div>
        
        <div>
            <label>Age</label>
            <input name="age" type="text" placeholder="Author's Age">
        </div>
        
        <input type="submit" value="Create an Author">
    </form>
</div>