<div>
    <h2>Top performing Authors</h2>
    <div class="overflow-scroll">

        <div id="top-authors-box">
            <div class="columns columns-header">
                <div>Name</div>
                <div>Age</div>
                <div>Big Books</div>
            </div>
            <div id="top-authors-records">

            </div>
        </div>
    </div>
</div>

<script src="js/main.js"></script>