body {
    margin: 0;
    min-width: 304px;
}

#content {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
}

#content > div {
    margin: 10px;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #e2e2e2;
}

#content h2 {
    color: #5862eb;
}

nav {
    font-size: 20px;
    text-align: center;
    color: white;
    background: linear-gradient(90deg, rgb(16,167,217) 30%, rgb(112, 71, 241) 90%);
    padding: 10px;
    box-shadow: 0px 5px 5px #2199dd70;
}

#nav-header {
    font-size: 25px;
}

nav span {
    display: inline-block;
    margin: 10px 15px;
}

nav a {
    color: white;
}

div.overflow-scroll {
    overflow-x: scroll;
    white-space: nowrap;
}

#top-authors-box {
    min-width: 512px;
}

#top-authors-box div.columns {
    display: flex;
    flex-wrap: wrap;
}

#top-authors-box div.columns > div {
    width: calc(30% - 2px);
    background-color: #efefef;
    text-align: center;
    margin: 1px;
}

#top-authors-box div.columns > div:first-child {
    text-align: left;
    padding-left: 20px;
    width: calc(40% - 22px);
}

#top-authors-box div.columns.columns-header > div {
    color: #4112e2;
    font-size: 18px;
    margin-bottom: 3px;
}

#top-authors-box div.columns.columns-header.hidden {
    display: none;
}

form div {
    margin: 10px 0;
    width: 100%;
}

form input[type=text] {
    width: calc(100% - 4px);
    margin: 0;
    padding: 3px 0;
}

form input[type=submit] {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 7px 0;
    border: none;
    color: white;
    background-color: #6f47f1;
    font-size: 14px;
    border-radius: 5px;
}

#errors-box {
    background-color: #ffe6e6;
    box-shadow: 0 0 5px #ffa3a3;
    color: #b10000;
}

#errors-box.hidden {
    display: none;
}